<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="74a2746f-05fb-490e-9032-4d11252c1e5f" Version="1.0.0.0" Publisher="CN=Caio Proiete" />
  <Properties>
    <DisplayName>AppCentral</DisplayName>
    <PublisherDisplayName>Caio Proiete</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="AppCentral" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="AppCentral Windows 8 Store" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="logoOnly" WideLogo="images\widelogo.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#00469b" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>